body {
  margin: auto;
  background-color: #FFFFFF;
}

.Controler {
  position: fixed;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
}

.sub_Controler {
  position: fixed;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 85%;
}

.progress {
  position: fixed;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 85%;
  display: flex;
}


#Music_list {
  width: 50%;
  margin: 0 0 0 auto;
}

