body {
  background-color: #ffffff;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.art-wrapper {
  width: 50%;
  height: 50%;
  padding-right: 20%;
}

.artwork {
  border-radius: 31px;
  background: #c4effd;
  box-shadow: 36px 36px 72px #91b1bb,
    -36px -36px 72px #f7ffff;
  max-width: 100%;
  height: auto;
  width: auto;
}

.metadata-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}

.Controller-wrapper {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;


  background: #c4effd;
  box-shadow: 35px 35px 53px #91b1bb,
    -35px -35px 53px #f7ffff;
}

.controler {
  display: flex;
  justify-content: center;
}

.fa-solid {
  margin: 1%;
  transition-duration: .2s;
}

.fa-solid:hover {
  transform: translateY(-3px);
  transform: scale(1.1);
}

.prog-wrapper {
  display: flex;
  justify-content: center;
}