body {
  background-color: #ffffff;
  -webkit-user-select: none;
}

#player .controler {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#player .sub-controler {
  position: absolute;
  right: 5%;
  bottom: 2%;
}

#player #volume {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 15%;
}

#progress-wrapper #player-progress {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

#progress-wrapper #current {
  position: absolute;
  bottom: 0;
  left: 0;
}

#progress-wrapper #duration {
  position: absolute;
  bottom: 0;
  right: 0;
}

#music-list {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 92%;
  width: 30%;
  overflow: auto;
}

#artwork {
  margin-top: 3%;
  margin-left: 3%;
  max-width: 30%;
  max-height: 50%;
  object-fit: cover;
}

#metadata {
  margin-left: 3%;
  max-width: 30%;
}

#hires {
  max-width: 10%;
  max-height: 10%;
}

#search {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}